includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - tests/
    level: 9

    ignoreErrors:
        -
            message: '#^Undefined variable\: \$this$#'
            path: tests/*
        -
            message: '#^Cannot call method \S+\(\) on App\\Models\\User\|null\.$#'
            path: 'app/Http/Controllers/*'
