includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - tests/
    level: 9

    ignoreErrors:
    	-
    		message: '#^Undefined variable\: \$this$#'
    		path: tests/*
