includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - tests/
    level: 9

    ignoreErrors:
        -
            message: '#^Undefined variable\: \$this$#'
            path: tests/*
        -
            message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$\S+\.$#'
            path: tests/*
        -
            message: '#^Cannot access property \$\S+ on App\\Models\\(User|Cart)\|null\.$#'
            path: app/Http/Controllers/*
        -
            message: '#^Cannot access property \$\S+ on App\\Models\\(User|Cart)\|null\.$#'
            path: tests/*
        -
            '#^Cannot call method \S+\(\) on App\\Models\\(User|Cart)\|null\.$#'
